<!DOCTYPE html>
<html lang="en">
<style>
    * {
        font-family: monospace;
        font-size: {{ textWidth }}vw;
    }

    div.col-1 {
        width: 200px
    }

    div.col-2 {
        width: 500px
    }

    }
</style>

{% load tz %}

<head>
    <meta charset="UTF-8">
    <title>System Status</title>

    <script>
        var intervalID = setInterval(function () {
            window.location.reload(true);
        }, 10 * 60 * 1000 - 5);
    </script>

</head>
<body>
{% localtime on %}
<pre>
Current stats:
    Collection time: {{ lastCollectionTime }}
    Weather temperature: {{ weatherTemp }}

    Panel power: {{ currentPanelPower }}
    Panel voltage: {{ panelVoltage }}
    Battery voltage: {{ currentBatteryVoltage }}
    Case temperature: {{ caseTemp }}

Battery voltage:
    {{ batteryPowerGraph }}

Panel power:
    {{ panelPowerGraph }}

Temperature(f):
    {{ tempGraph }}

{% endlocaltime %}
</pre>
</body>
</html>